Thumbs.db
#Ignore files build by Visual Studio
*~
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.ipch
*.sdf
*.lib
*.sbr
*~
*.o
*.lo
*.png
[Bb]in
[Dd]ebug*/
obj
[Rr]elease*/
_ReSharper*/
x64
ipch
*.opensdf
